In [4]:
import os

import pandas as pd

In [5]:
# Identify a variable for the path needed to retrieve the data
mar2013_path = os.path.join('Data', 'JC-201903-citibike-tripdata.csv')

# Read purchase_data.csv file and store into Pandas DataFrame
mar2013_df = pd.read_csv(mar2013_path)

# View the values in first 5 rows of data frame
mar2013_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23601,916,2019-03-29 13:38:36.1750,2019-03-29 13:53:53.0100,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717733,-74.043845,29277,Subscriber,1988,1
23602,661,2019-03-29 15:29:18.7510,2019-03-29 15:40:20.2510,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26235,Subscriber,1983,2
23603,577,2019-03-30 13:43:09.2090,2019-03-30 13:52:46.7140,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29596,Subscriber,1988,1
23604,585,2019-03-31 08:33:21.5200,2019-03-31 08:43:06.7520,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,26192,Subscriber,1988,1
23605,914,2019-03-31 14:59:32.3980,2019-03-31 15:14:46.8480,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717733,-74.043845,29634,Subscriber,1993,2

In [6]:
mar2013_df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000
mean,546.176353,3273.025756,40.722679,-74.046551,3268.292934,40.722266,-74.046084,28396.220834,1981.057994,1.156952
std,3288.178650,145.557364,0.006955,0.010534,150.409518,0.006806,0.010543,1528.668338,10.249296,0.469962
min,61.000000,3183.000000,40.709651,-74.083639,327.000000,40.709651,-74.083639,20683.000000,1941.000000,0.000000
25%,213.000000,3192.000000,40.718355,-74.050656,3186.000000,40.718355,-74.050389,26280.000000,1975.000000,1.000000
50%,307.000000,3207.000000,40.721525,-74.043991,3205.000000,40.719586,-74.043117,29286.000000,1984.000000,1.000000
75%,487.000000,3273.000000,40.727224,-74.038526,3273.000000,40.726012,-74.038526,29537.000000,1989.000000,1.000000
max,260817.000000,3694.000000,40.748716,-74.032108,3694.000000,40.768254,-73.988639,29681.000000,2002.000000,2.000000